/*公用样式*/

* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: none !important;
    width: 1170px;
}

.no-padding {
    padding: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/*头部内容*/

.header {
    border-bottom: 2px solid #35b558;
}

.header-inner {
}

/*搜索框*/
.search-box {
    text-align: center;
}

.search-box form {
    margin-top: 18px;
    box-sizing: border-box;
}

#kw {
    height: 36px;
    width: 350px;
    padding: 9px 150px 9px 15px;
    float: left;
    outline: none;
    border: 1px solid #dfdfdf;
    border-right: 0;
    box-sizing: border-box;
    font-size: 8px;
}

#submit {
    margin-left: -36px;
    height: 36px;
    width: 36px;
    float: left;
    outline: none;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
    background: url(../img/header/search-icon.png) #fff no-repeat center;
}

#submit:hover {
    background-color: #35b558;
}

.trending-search {
    position: absolute;
    background-color: #fff;
    top: 26px;
    left: 190px;
    font-size: 0;
}

.trending-search a {
    display: inline-block;
    padding: 2px;
    margin-right: 5px;
    background-color: #f3f3f3;
    color: #000;
    text-decoration: none;
    font-size: 8px;
}

.trending-search a:hover {
    background-color: #dfdfdf;
}

.personal-info {
    margin-top: 24px;
    text-align: right;
}

.personal-info a {
    display: inline-block;
    font-size: 8px;
    color: #000;
    text-decoration: none;
}

.personal-info .user-name {
    color: #35b558;
}

/*菜单选项*/

.menu {
    border-bottom: 1px solid #e8e8e8;
    -webkit-box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
    -moz-box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
}

.menu .menu-inner {
    height: 42px;
}

.menu .nav-header {
    font-size: 0;
    margin: 0;
}

.menu .nav-header > li {
    /*display: inline-block;*/
    float: left;
    list-style-type: none;
    /*margin-right: 22px;*/
    width: 120px;
    height: 42px;
    text-align: center;
}

.menu .nav-header > li a {
    text-decoration: none;
    font-size: 14px;
    color: #000;
    line-height: 42px;
}

.menu .nav-header > li a:hover {
    color: #35b558;
}

.menu .nav-header .second-menu {
    display: none;
    font-size: 8px;
    background-color: #e3e3e3;
}

.menu .nav-header .second-menu li {
    list-style-type: none;
    display: block;
    margin: 0;

}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #e3e3e3;
    margin: auto;
    display: none;
}

.menu .menu-inner .nav-right {
    float: right;
}

.menu .menu-inner .nav-right a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    height: 42px;
    line-height: 42px;
    margin-left: 15px;
}

/*菜单内容*/
.menu-contents {
    position: absolute;
    height: auto;
    background-color: #fff;
    width: 1170px;
    top: 115px;
    display: none;
    padding: 0;
    font-size: 0;
    border: 1px solid #d3d3d3;
    z-index: 9999;
}

.menu-contents .inner-list {
    display: inline-block;
    width: 120px;
    height: auto;
    background-color: #fff;
    font-size: 8px;
    text-align: left;
    vertical-align: top;
}

.menu-contents .inner-list a {
    display: block;
    width: 100%;
    padding: 5px 0;
    text-decoration: none;
    color: #000;
    margin-left: 15px;
}

.menu-contents .inner-list a:hover {
    color: #35b558;
}

.menu-contents .inner-list:hover {
    background-color: #fafafa;
}

.menu-contents .inner-list.hoverstate {
    background-color: #fafafa;
}

/*所有课程菜单*/
.promo {
    margin-top: 15px;
}

.promo .all-courses {
    border: 1px solid #e8e8e8;
    border-top: 2px solid #35b558;
}

.promo .all-courses .courses-list > li {
    display: block;
    width: 100%;
    height: 35px;
    text-align: left;
    border-top: 1px solid #e8e8e8;
    background: #fff url('../img/more.png') 270px center no-repeat;
    background-size: 6px 10px;
}

.promo .all-courses .courses-list > li:hover {
    border: 1px solid #fff;
    border-left: 2px solid #35b558;
    background: #fff;
}

.promo .all-courses .courses-list > li > a,
.course-detail .detail-header > li a {
    text-decoration: none;
    color: #000;
    display: block;
    line-height: 35px;
    margin-left: 10px;
}

.course-detail .detail-header > li a {
    margin-left: 0;
}

.promo ul.courses-list {
    margin-bottom: 0;
}

.promo div.all-courses {
    padding: 0;
}

.course-detail {
    z-index: 9999;
    display: none;
    position: absolute;
    top: -2px;
    left: 283px;
    width: 400px;
    height: auto;
    border: 1px solid #e8e8e8;
    -webkit-box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
    -moz-box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
    background-color: #fff;
}

.course-detail .detail-header > li {
    list-style-type: none;
    font-size: 8px;
    display: block;
    margin: 0 15px;
}

.course-detail .detail-header > li > a {
    border-bottom: 1px solid #e8e8e8;
}

.sub-courses {
    font-size: 0;
}

.sub-courses > li > a {
    margin-right: 10px;
}

.course-detail {
    min-height: 360px;
}

.course-detail .detail-header > li > a:hover,
.sub-courses > li > a:hover {
    color: #35b558;
}

.sub-courses > li:nth-child(n+2) > a:before {
    margin-right: 10px;
    content: '|';
}

.course-detail .detail-header {
    margin: 10px 0;
}

.sub-courses > li {
    display: inline-block;
    list-style-type: none;
    font-size: 6px;
}

/*图片轮播*/
div.flickerplate {
    height: 250px;
}

.scroll-box {
    margin-top: 10px;
    height: 93px;
    width: 100%;
    overflow: hidden;
    border: 1px solid #e8e8e8;
    position: relative;
}

.scroll-box > ul {
    width: 1500px;
    overflow: hidden;
}

.scroll-box > ul > li {
    list-style-type: none;
    display: inline-block;
    width: 185px;
    height: 93px;
    text-align: center;
}

.scroll-box > ul > li a {
    text-decoration: none;
    color: #000;
}

.scroll-box > ul > li img {
    display: inline-block;
    height: 30px;
    margin-top: 15px;
}

.scroll-box > ul > li span {
    display: block;
    font-size: 6px;
    margin-top: 10px;
}

/*个人信息*/
.my-info {
    padding-left: 0;
}

.my-info > div {
    border: 1px solid #e8e8e8;
}

.my-info .news {
    padding: 10px;
}

.my-info .news a {
    font-size: 12px;
    text-decoration: none;
    color: #000;
}

.my-info .news a.hot {
    color: #ff0000;
}

.personal {
    font-size: 0;
}

.personal > div {
    display: inline-block;
    height: 67px;
    vertical-align: top;
}

.personal div.avatar img {
    margin: 8px;;
}

.personal div.login {
    font-size: 8px;
    margin-top: 8px;
}

.personal div.login .buttons {
    margin-top: 8px;
}

.personal div.login .buttons button {
    width: 48px;
    height: 20px;
    margin-right: 10px;
    color: #fff;
    font-size: 12px;
    border: 1px solid transparent;
}

.personal div.login .buttons button:nth-child(1) {
    background-color: #FB5D20;
}

.personal div.login .buttons button:nth-child(2) {
    background-color: #35b558;
}

.function-blocks ul {

    font-size: 0;
    margin: 0;
}

.function-blocks ul li {
    display: inline-block;
    height: 76px;
    width: 25%;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

.down-arrow {
    display: block;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top: 6px solid #E4E4E4;
    box-sizing: content-box;
    margin: 0 auto;
}

.function-blocks .icon {
    background-image: url("../img/header/recommand.png");
    background-size: 71px 232px;
    display: block;
    width: 25px;
    height: 25px;
    margin: 13px auto;
}

/*图标*/
.question {
    background-position: -5px -3px;
}

.wiki {
    background-position: -5px -31px;
}

.course-video {
    background-position: -5px -59px;
}

.groups {
    background-position: -5px -87px;
}

.download {
    background-position: -5px -117px;
}

.knowledge {
    background-position: -5px -144px;
}

.career {
    background-position: -5px -173px;
}

.vip {
    background-position: -5px -202px;
}

/*课程选项卡*/
.courses-tabs {
    margin-top: 30px;
}

.courses-tabs .tabs {
    font-size: 0;
}

.courses-tabs .tabs > ul {
    margin-bottom: 0;
}

.courses-tabs .tabs > ul > li {
    font-size: 12px;
    display: inline-block;
    width: 195px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
}

.courses-tabs .content-block {
    display: none;
    background-color: #fff;
}

.content-block .wrapper-courses {
    font-size: 0;
    margin-top: 15px;
    vertical-align: middle;
    height: 218px;
    /*float: left;*/
    width: 1170px;
}

.content-block .wrapper-courses:nth-child(1) {
    z-index: 200;
}

.tab-active {
    border-bottom: 2px solid #35b558;
    background: url("../img/this.png") center bottom no-repeat;
    background-size: 10px 4px;
}

.course-card {
    display: inline-block;
    margin-bottom: 20px;
    /*float: left;*/
    width: 276px;
    vertical-align: top;
}

.course-card:nth-child(n+2) {
    margin-left: 20px;
}

.card-image {
    position: relative;
}

.card-image img {
    width: 100%;
    position: relative;
    z-index: 0;
}

.card-image .hover-play {
    background: #000;
    background: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.card-image .hover-play i.player-icon {
    position: absolute;
    z-index: 120;
    width: 50px;
    height: 50px;
    display: block;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
    background: url('../img/courses/player.png') 0 0 no-repeat;
    cursor: pointer;
    background-size: 50px 50px;
}

.card-info {
    padding: 10px;
    font-size: 12px;
    border: 1px solid #e8e8e8;
    position: relative;
    background-color: #fff;
    z-index: 100;
}

.card-info .title {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}

.card-info .desc {
    display: none;
    color: #808080;
    margin-top: 8px;
}

/*职业路径图*/
.job-path {
    margin-top: 22px;
}

.sec-title {
    font-size: 18px;
    text-decoration: none;
    color: #000;
}

.job-path .path {
    margin-top: 22px;
    font-size: 0;
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

.job-path .path .path-box {
    display: inline-block;
    font-size: 12px;
    border: 1px solid transparent;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    width: 20%;
    text-align: center;
    cursor: pointer;
}

.job-path .path .path-box:hover {
    border: 1px solid #35b558;
}

.job-path.path .path-box img {
    display: block;
}

.job-path .path .path-box h2 {
    font-size: 15px;
    color: #333;
    margin-bottom: 20px;
    height: 18px;
    overflow: hidden;
}

.job-path .path .path-box p {
    font-size: 6px;
    color: #666;
}

.job-path .path .path-box .path-button {
    display: inline-block;
    color: #35b558;
    font-size: 16px;
    background: #f3fff6;
    border: 1px solid #35b558;
    width: 140px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    outline: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.job-path .path .path-box .path-button-disabled {
    background: #f5f5f5;
    color: #808080;
    border: 1px solid #e4e4e4;
}

.job-path .path .path-box:hover .path-button {
    background-color: #35b558;
    color: #fff;
    transition: all .3s ease-in-out;
}

.job-path .path .path-box:hover .path-button-disabled {
    background-color: #ddd;
    color: #808080;
}

/*知识体系图*/
.skills {
    margin-top: 22px;
}

.skills .skill {
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    margin-top: 22px;
    font-size: 0;
}

.skills .skill .skill-card {
    font-size: 12px;
    display: inline-block;
    width: 194px;
    position: relative;
    border: 1px solid #e8e8e8;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    height: 125px;
    background-color: #fff;
    cursor: pointer;
}

/*卡片的反转*/
.skills .skill .skill-card .skill-card-front,
.skills .skill .skill-card .skill-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .6s;
    text-align: center;
    padding: 15px 0;
}

.skills .skill .skill-card .skill-card-back {
    padding-top: 27px;
}

.skills .skill .skill-card .skill-card-front {
    background-color: #fff;
    z-index: 2;
    backface-visibility: hidden;
}

.skills .skill .skill-card .skill-card-back {
    transform: rotateY(-180deg);
    background-color: #f5f5f5;
    z-index: 1;
}

.skills .skill .skill-card:hover .skill-card-back {
    transform: rotateY(0deg);
}

.skills .skill .skill-card:hover .skill-card-front {
    transform: rotateY(180deg);
}

.skill-card-front img {
    /*margin-bottom: 5px;*/
    height: 40px;
    width: 40px;
}

.skill-card-front h2 {
    margin-bottom: 5px;
    font-size: 15px;
    color: #333;
}

.skill-card-front span {
    display: block;
    font-size: 14px;
    color: #35b558;
    margin-bottom: 5px;
}

.skill-card-back strong {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    font-weight: 400;
}

.skill-card-back .btn-green {
    font-size: 16px;
    color: #fff;
    text-align: center;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    width: 140px;
    height: 36px;
    cursor: pointer;
    background: #35b558;
    display: inline-block;
    border: 1px solid #35b558;
}

/*精品系列课程*/
.series, .series-course {
    margin-top: 22px;
}

.series-course {
    font-size: 0;
}

.series-course .series-box {
    vertical-align: top;
    display: inline-block;
    padding: 16px;
    width: 277px;
    border: 1px solid #e8e8e8;
    position: relative;
    font-size: 8px;
}

.series-course .series-box:hover {
    border: 1px solid #35b558;
}

.series-course .series-box:nth-child(n+2) {
    margin-left: 20px;
}

.series-course .series-box h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

.series-course .series-box .series-image {
    overflow: hidden;
    margin-bottom: 15px;
}

.series-course .series-box .detail .btn-collect {
    float: right;
}

.series-course .series-box .series-image img {
    display: block;
    width: 100%;
    height: 100%;
}

.series-course .series-box .detail {
    position: relative;
    z-index: 20;
    color: gray;
    line-height: 18px;
}

.series-course .series-box .detail .count {
    position: relative;
    z-index: 20;
    color: #808080;
    line-height: 18px;
}

.series-course .series-box .hover-detail {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .9);
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-align: center;
    padding: 16px;
}

.series-course .series-box:hover .hover-detail {
    opacity: 1;
    transition: all .2s ease-in-out;
}

.series-course .series-box .hover-detail img {
    margin: 20px auto;
    display: block;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.series-course .series-box .hover-detail span {
    display: block;
    width: 100%;
}

/*wiki*/
.wiki {
    margin-top: 22px;
}

.wiki .wiki-book {
    font-size: 0;
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    margin-top: 22px;
}

.wiki .wiki-book .wiki-block {
    font-size: 12px;
    display: inline-block;
    border: 1px solid #e8e8e8;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    width: 388px;
    padding: 15px;
    vertical-align: top;
}

.wiki .wiki-book .wiki-block:hover {
    border: 1px solid #35b558;
}

.wiki .wiki-book .wiki-block h2 {
    display: block;
    font-size: 14px;
    font-weight: 500;
}

.wiki .wiki-book .wiki-block .book-set {
    margin-top: 10px;
}

.wiki .wiki-book .wiki-block .book-set .book-set-sub {
    font-size: 0;
}

.wiki .wiki-book .wiki-block .book-set .book-set-sub .img-box {
    cursor: pointer;
    display: inline-block;
    background-color: #999;
    vertical-align: top;
}

.wiki .wiki-book .wiki-block .book-set .book-set-sub .img-box:nth-child(1) {
    margin-right: 15px;
}

.wiki .wiki-book .wiki-block .book-set .book-set-sub .img-box img {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    transform-origin: 0 0 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.wiki .wiki-book .wiki-block .book-set .book-set-sub .img-box:hover img {
    -webkit-transform: rotateY(-20deg);
    -moz-transform: rotateY(-20deg);
    -ms-transform: rotateY(-20deg);
    -o-transform: rotateY(-20deg);
    transform: rotateY(-20deg);
    transform-origin: 0 0 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.wiki .wiki-book .wiki-block .book-set-sub .img-box h3,
.wiki .wiki-book .wiki-block .book-set-sub .img-box span {
    display: block;
}

.wiki .wiki-book .wiki-block .book-set-sub .img-box h3 {
    font-size: 12px;
}

.wiki .wiki-book .wiki-block .book-set-sub .img-box span {
    font-size: 8px;
}

.wiki .wiki-book .wiki-block .book-nav {
    margin-top: 15px;
}

.wiki .wiki-book .wiki-block .book-nav li {
    list-style-type: none;
    display: block;
}

.wiki .wiki-book .wiki-block .book-nav li > a {
    display: block;
    color: #808080;
    text-decoration: none;
}

.wiki .wiki-book .wiki-block .book-nav li > a:hover {
    color: #35b558;
}

/*战略合作企业*/
.companies {
    margin-top: 22px;
}

.companies ul.company-brand li {
    vertical-align: middle;
    border: 1px solid #e8e8e8;
    height: 50px;
    width: 150px;
    margin: 15px;
}

.companies ul.brand-2 li {
    height: 150px;
}

.companies ul.company-brand li img {
    display: block;
    height: 100%;
    width: 100%;
    margin-top: 0;
}

.companies .scroll-box {
    height: 80px;
}

.companies .box-2 {
    height: 180px;
}

/*底部*/

section.footer {
    min-width: 1000px;
    background-color: #fafafa;
    margin-top: 22px;
    border: 1px solid #E4E4E4;
}

section.footer .jkinfor-block .jkinfor {
    width: 1000px;
    margin: 0 auto;
    min-height: 200px
}

section.footer .jkinfor dl {
    width: 185px;
    padding-left: 30px;
    color: gray;
    margin: 25px 0;
    float: left;
    border-left: 1px solid #E4E4E4;
    min-height: 175px
}

section.footer .jkinfor dl dt {
    font-size: 14px;
    color: #666;
    font-weight: 500
}

section.footer .jkinfor dl dd {
    font-size: 12px;
    margin-top: 10px
}

section.footer .jkinfor a {
    color: gray;
    padding-left: 5px
}

section.footer .jkinfor a:hover {
    color: #35b558
}

section.footer .search-share {
    width: 260px;
    float: left;
    min-height: 226px;
    border-left: 1px solid #E4E4E4;
    padding: 20px 0 0 40px
}

section.footer .search-share .jktxt {
    font-size: 15px;
    color: #35b558;
    display: block;
    margin-bottom: 15px;
    font-weight: 500
}

section.footer .search-share .app-download a {
    padding-left: 0
}

section.footer .search-share .app-download a:hover p, section.footer .search-share .app-download a:hover strong {
    color: #35b558
}

section.footer .search-share .app-download img {
    display: block;
    float: left;
    margin-right: 15px
}

section.footer .search-share .app-download strong {
    font-size: 18px;
    color: #666;
    margin-bottom: 8px
}

section.footer .search-share .app-download p {
    font-size: 14px;
    color: #808080;
    background: url('../img/footer/more-icon_d39346f.png') 160px center no-repeat;
    background-size: 7px 13px
}

section.footer .search-share .share {
    margin-top: 15px
}

section.footer .search-share .share:after {
    display: table;
    clear: both;
    content: " "
}

section.footer .search-share .share a {
    background: url('../img/footer/icon_7f8b929.png') -23px 0 no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    position: relative
}

section.footer .search-share .share a.sina-icon {
    background-position: -23px 0
}

section.footer .search-share .share a.sina-icon:hover {
    background-position: -23px -40px
}

section.footer .search-share .share a.qq-icon {
    background-position: -23px -82px
}

section.footer .search-share .share a.qq-icon:hover {
    background-position: -23px -122px
}

section.footer .search-share .share a.qq-icon .weinxinpop {
    position: absolute;
    bottom: 32px;
    left: -48px;
    z-index: 200;
    display: none
}

section.footer .search-share .share a.qq-icon:hover .weinxinpop {
    display: block
}

section.footer .search-share .share a.tieba-icon {
    background-position: -145px 0
}

section.footer .search-share .share a.tieba-icon:hover {
    background-position: -145px -40px
}

section.footer .copyright {
    font-size: 12px;
    color: #999;
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    padding: 20px
}

section.footer .copyright a {
    color: #999
}

section.footer .copyright a:hover {
    color: #35B558
}

section.footer .kefu-online {
    margin-top: 15px;
    padding-left: 35px
}

section.footer .kefu-online a {
    display: block;
    padding: 0
}

section.footer .kefu-online a:hover h5, section.footer .kefu-online a:hover p {
    color: #35b558
}

section.footer .kefu-online .offline:hover h5 {
    color: #666
}

section.footer .kefu-online .offline:hover p {
    color: gray
}

section.footer .kefu-online .kefu-icon {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: -40px;
    background: url('../img/footer/kefu_8edc734.png') no-repeat -40px 0/80px 40px
}

section.footer .kefu-online .kefu-icon.online {
    background-position: 0 0
}

section.footer .kefu-online h5 {
    color: #666;
    font-size: 14px;
    margin-bottom: 2px;
    line-height: 22px;
    padding-left: 5px
}

section.footer .kefu-online p {
    color: gray;
    font-size: 12px;
    padding-left: 5px
}

/*箭头*/
.arrow-left {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -25px;
    z-index: 800;
    display: none;
    cursor: pointer;
    background: url('../img/arrowleft.png') -10px -5px no-repeat;
    width: 40px;
    height: 50px;
    overflow: hidden;
}

.sb-wrapper:hover .arrow-left {
    display: block;
}

.arrow-right {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -25px;
    z-index: 800;
    display: none;
    cursor: pointer;
    background: url('../img/arrowright.png') -10px -5px no-repeat;
    width: 40px;
    height: 50px;
    overflow: hidden;
}

.sb-wrapper:hover .arrow-right {
    display: block;
}

.sb-wrapper {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}